{% render 'content-open', class: 'column-max padding-top-200 padding-bottom-200' %}

  <div class="column-extra-narrow">

    {% render 'page-header', class: 'text-center' %}

    <p class="message text-center text-light margin-top">{{ 'customer.reset_password.message_html' | t }}</p>

    {% form 'reset_customer_password' %}

      {% render 'form-errors', form: form, focus_on_error: true %}

      <div class="row">
        <input type="password" id="password" name="customer[password]" {% if form.errors %} class="error" aria-invalid="true" {% endif %} value="{{ form.password }}" placeholder="{{ 'customer.reset_password.password_field_placeholder' | t }}" aria-label="{{ 'customer.reset_password.password_field_placeholder' | t }}">
        {% render 'field-error-message', form: form, field: 'password' %}
      </div>

      <div class="row">
        <input type="password" id="password_confirmation" name="customer[password_confirmation]" {% if form.errors %} class="error" aria-invalid="true" {% endif %} value="{{ form.password_confirmation }}" placeholder="{{ 'customer.reset_password.password_confirmation_field_placeholder' | t }}" aria-label="{{ 'customer.reset_password.password_confirmation_field_placeholder' | t }}">
        {% render 'field-error-message', form: form, field: 'password_confirmation' %}
      </div>

      <div class="form-actions text-center width-100">

        <p class="no-margin-bottom">
          <input class="button" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
        </p>

        {% render 'separator', class: 'lined margin-top margin-bottom' %}

        <p class="font-size-15 no-margin-bottom">
          <a href="#" data-click-history-back>{{ 'customer.reset_password.cancel' | t }}</a>
        </p>

      </div>

    {% endform %}

  </div>

{% render 'content-close' %}
