<!doctype html>

{% assign html_class = 'no-js' | append: ' ' | append: template %}
{% assign cdn = 'https://cdnjs.cloudflare.com/ajax/libs/' %}

{% if template contains '.' %}
  {% assign template_classes = template | split: '.' %}
  {% assign template_classes_handled = template | replace: '.', '-' %}
  {% assign html_class = template_classes[0] | append: ' ' | append: template_classes_handled %}
{% endif %}

{% if template contains '/' %}
  {% assign template_classes = template | split: '/' %}
  {% assign template_classes_handled = template | replace: '/', '-' %}
  {% assign html_class = template_classes[0] | append: ' ' | append: template_classes_handled %}
{% endif %}

{% assign page_title_handle = page_title | handle %}
{% assign html_class = html_class | append: ' ' | append: page_title_handle %}
{% assign template_type = template %}

{% if template contains '.' %}
  {% assign template_parts = template | split: '.' %}
  {% assign template_type = template_parts[0] %}
{% endif %}

{% assign gc_formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
{% assign gc_formatted_initial_value_stripped = gc_formatted_initial_value | strip_html %}
{% assign seo_title = 'gift_cards.issued.seo_title' | t: value: gc_formatted_initial_value_stripped, shop_name: shop.name %}
{% assign seo_description = 'gift_cards.issued.subtext' | t %}

<!-- Proudly powered by Shopify - https://shopify.com -->

<html class="{{ html_class }} height-100" lang="{{ shop.locale }}">

  <head>

    {% render 'meta', template_type: template_type, seo_title: seo_title, seo_description: seo_description %}
    {% render 'preload-fonts' %}

    {{ content_for_header }}

    {{ 'normalize/3.0.3/normalize.min.css' | prepend: cdn | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'theme-custom.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome/4.7.0/css/font-awesome.min.css' | prepend: cdn | stylesheet_tag }}

    {{ 'modernizr.gift-card.js' | shopify_asset_url | script_tag }}
    {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
    {{ 'jquery/3.1.1/jquery.min.js' | prepend: cdn | script_tag }}

  </head>

  <body class="height-100">

    {{ content_for_layout }}

    <script type="text/javascript">
      new QRCode(document.getElementById('qr-code'), {
        text: "{{ gift_card.qr_identifier }}",
        width: 120,
        height: 120
      });
    </script>

  </body>

</html>
