<style>
  #password-entry {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1.2rem;
    background-color: #fff;
    overflow: hidden;
    z-index: 10;
  }
  .password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .password-content .contact-form, .storefront-password-form {
    max-width: 28rem;
    width: 100%;
  }
  #opening-soon {
    padding-top: 4rem;
  }
</style>

{% render 'section-open', section: section, type: 'password-template', class: 'column-max height-100' %}

  <div class="password-wrap table">
    <div class="cell text-center">

      {% render 'content-open', class: 'column-extra-narrow' %}

        <a class="enter-link text-light font-size-14 animate-in fade-in-down" href="#" data-show-module-id="password-entry">{{ 'password_page.login.enter_link_html' | t }}</a>

        <a class="cancel-enter-link text-light font-size-14 animate-in fade-in-down" href="#" data-show-module-id="opening-soon">{{ 'password_page.login.cancel' | t }}</a>

        <div id="opening-soon" class="password-module">
          <div class="password-content">
            {%- for block in section.blocks -%}
              {%- case block.type -%}

                {%- when '@app' -%}
                  <div class="app-block">
                    {% render block %}
                  </div>

                {%- when 'logo' -%}
                  <div class="brand">
                    <h1 class="visually-hidden">{{ shop.name }}</h1>
                    <a href="{{ routes.root_url }}" title="{{ shop.name }}">
                      {% if block.settings.logo %}
                        {% capture logo_size %}{{ block.settings.logo_max_width | replace: 'px', '' }}x{% endcapture %}
                        <img src="{{ block.settings.logo | img_url: logo_size }}" srcset="{{ block.settings.logo | img_url: logo_size }} 1x, {{ block.settings.logo | img_url: logo_size, scale: 2 }} 2x" alt="{{ block.settings.logo.alt | default: shop.name }}" itemprop="logo">
                      {% else %}
                        <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
                      {% endif %}
                    </a>
                  </div>
                  {% render 'separator', class: 'lined margin-top margin-bottom' %}

                {%- when 'newsletter' -%}
                  <div class="title font-size-20 margin-bottom-50">{{ 'password_page.general.opening_soon' | t }}</div>

                  {% unless shop.password_message == blank %}
                    <p>
                      {{ shop.password_message }}
                    </p>
                  {% endunless %}

                  {% form 'customer', id: formId %}
                    {% if form.posted_successfully? %}

                      {% render 'separator' %}

                      <div class="form-success panel green text-center font-size-15 no-margin" tabindex="-1" data-form-status role="alert">
                        {{ 'password_page.signup.form_success' | t }}
                      </div>

                    {% else %}

                      <p>{{ 'password_page.signup.heading' | t }}</p>

                      {% render 'form-errors', form: form %}

                      <input type="hidden" name="contact[tags]" value="prospect, password page">

                      <div class="row">
                        <input class="text-center {% if form.errors %} error {% endif %}" type="email" id="email" name="contact[email]" placeholder="{{ 'password_page.signup.email_field_placeholder' | t }}" aria-label="{{ 'password_page.signup.email_field_placeholder' | t }}"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% else %}
                          data-auto-focus
                        {% endif %}>
                        {% render 'field-error-message', form: form, field: 'email' %}
                      </div>

                      <div class="form-actions text-center width-100 margin-top-50">
                        <input class="button" type="submit" value="{{ 'password_page.signup.submit' | t }}">
                      </div>

                    {% endif %}

                  {% endform %}

                {%- when 'custom_liquid' -%}
                  {{ block.settings.custom_liquid }}

                {%- when 'social_sharing' -%}
                  <p class="margin-top-150">{{ 'password_page.social_sharing.heading' | t }}</p>
                  {% render 'social-media-buttons' %}

              {%- endcase -%}
            {%- endfor -%}

            {% render 'separator', class: 'lined margin-top margin-bottom' %}

            <div class="password-powered-by">
              {% capture shopify %}<a class="text-color" href="//www.shopify.com" title="Create your own online store with Shopify" rel="nofollow" data-target-new>Shopify</a>{% endcapture %}
              <span class="font-size-14 text-light">{{ 'password_page.general.powered_by_shopify_html' | t: shopify: shopify }}</span>
            </div>
          </div>
        </div>

        <div id="password-entry" class="password-module">
          <div class="password-content">
            <div class="brand">
              <h1 class="visually-hidden">{{ shop.name }}</h1>
              <a href="{{ routes.root_url }}" title="{{ shop.name }}">
                {% if section.settings.logo %}
                  {% capture logo_size %}{{ section.settings.logo_max_width | replace: 'px', '' }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: logo_size }}" srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
                {% else %}
                  <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
                {% endif %}
              </a>
            </div>

            {% render 'separator', class: 'lined margin-top margin-bottom' %}

            <p>{{ 'password_page.login.heading' | t }}</p>

            {%- assign passwordFormId = 'Password_' | append: section.id -%}
            {% form 'storefront_password', id: passwordFormId %}

              {% render 'form-errors', form: form %}

              <div class="row">
                <input class="text-center {% if form.errors %} error {% endif %}" type="password" id="password" name="password" placeholder="{{ 'password_page.login.password_field_placeholder' | t }}" aria-label="{{ 'password_page.login.password_field_placeholder' | t }}"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-password-error"
                  data-form-status
                {% endif %}>
                {% render 'field-error-message', form: form, field: 'password' %}
              </div>

              <div class="form-actions text-center width-100 margin-top-50">
                <input class="button" type="submit" value="{{ 'password_page.login.submit' | t }}">
              </div>

            {% endform %}

            {% render 'separator', class: 'lined margin-top margin-bottom' %}

            <p class="font-size-14 margin-bottom-50">
              <span class="text-light">{{ 'password_page.login.store_owner' | t }}</span>
              <a href="{{ routes.root_url }}{% if routes.root_url != '/' %}/{% endif %}admin" class="text-color">{{ 'password_page.login.admin_link' | t }}</a>
            </p>
          </div>
        </div>

      {% render 'content-close' %}

    </div>
  </div>

{% render 'section-close' %}


{% schema %}
{
  "name": "t:sections.main-password.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "logo",
      "name": "t:sections.main-password.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "id": "logo",
          "type": "image_picker",
          "label": "t:sections.main-password.blocks.logo.settings.logo.label"
        },
        {
          "id": "logo_max_width",
          "type": "range",
          "label": "t:sections.main-password.blocks.logo.settings.logo_max_width.label",
          "min": 100,
          "max": 1200,
          "step": 50,
          "unit": "t:sections.main-password.blocks.logo.settings.logo_max_width.unit",
          "default": 250
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.main-password.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-password.blocks.newsletter.settings.paragraph__1.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-password.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-password.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-password.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "social_sharing",
      "name": "t:sections.main-password.blocks.social_sharing.name",
      "limit": 1
    }
  ]
}
{% endschema %}
